<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=n, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MySite</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/">Home</a>
            <a href="/about">About me</a>
            <a href="/gallery">Gallery</a>
            </ul>
        <h1>About Me</h1>
            <p>Haloo, perkenalkan aku Bahiira Nuraini Arafah biasa dipanggil aini</p>
            <p>Aku lahir pada tanggal 9 Januari tahun 2007, itu bertepatan pada hari selasa</p>
            <p>Aku adalah seorang mahasiswa di Universitas Padjadjaran di jurusan Teknik Elektro</p>
            <p>Hobiku adalah menonton dan membaca, dulu ketika SMA aku juga hobi bermain basket</p>
    </nav>
</body>
</html>