<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MySite</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/">Home</a>
            <a href="/about">About me</a>
            <a href="/gallery">Gallery</a>

        </ul>
      <h1>Gallery</h1>
      <h3>Me?!</h3>
      <img src="{{ url_for('static', filename='images/aini0.jpg') }}" alt="Gambar 1">
      <img src="{{ url_for('static', filename='images/aini1.jpg') }}" alt="Gambar 2">
      <img src="{{ url_for('static', filename='images/aini2.jpg') }}" alt="Gambar 2">


      <h3>Bestieess</h3>
      <img src="{{ url_for('static', filename='images/witput.jpg') }}" alt="Gambar 1">
      <img src="{{ url_for('static', filename='images/witdhyy.jpg') }}" alt="Gambar 2">
      <img src="{{ url_for('static', filename='images/witnas.jpg') }}" alt="Gambar 3">
      <img src="{{ url_for('static', filename='images/witkin.jpg') }}" alt="Gambar 4">
      <img src="{{ url_for('static', filename='images/witpip.jpg') }}" alt="Gambar 5">
      <img src="{{ url_for('static', filename='images/witdip.jpg') }}" alt="Gambar 6">
      <img src="{{ url_for('static', filename='images/witkawakadep.jpg') }}" alt="Gambar 7">
    </nav>
  </body>
  
</html>